* { 
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #000000;
}

body {
    width: 485px;
    margin: 0 auto;
    padding: 0 25px;
}

header, footer {
    width: 100%;
    color: #ffffff;
}

figcaption,
label,
input,
small {
    font-size: 1em;
}

h1 {
    margin: 0 auto;
    color: #007d7b;
    background-color: #ffffff;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    text-transform: center;
}

p {
    font-size: 1.25em;
}

nav {
    background-color: #000000;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav a {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
}

nav li {
    list-style-type: none;
}

[href="#top"] {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 10px;
    box-shadow: 3px 3px 4px 1px #000000;
    border: 1px solid #ffffff;
    z-index: 2;
}

a:hover {
    color: #007d7b;
    background-color: #ffffff;
}

#about, #gallery {
    background-color: #ffffff;
    padding: 10px;
}

#images {
    display: grid;
    justify-content: center;
    gap: 10px;
    margin: 5px 0;
}

figure {
    display: grid;
    flex-direction: column;
    position: relative;
    margin: 0;
    height: fit-content;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 420px;
    float: left;
    text-transform: uppercase;
}

